
<h1>Table Design</h1><br>
<table class="table" title="Table">
  
<tr class="hover1">
<th>Id</th> 
<th>User Name</th>
<th>Roll</th>
<th>Reg</th>
<th>Dept</th>
<th>Edit</th> 
<th>Delete</th>
</tr>
    <tbody>
    {% for student in data %} 
    <tr class="hover1">
    <td>{{student.id}}</td> 
    <td>{{student.name}}</td>
    <td>{{student.roll}}</td>
    <td>{{student.reg}}</td>
    <td>{{student.dep}}</td>
    <td><button class="button">Edit</button></td>

    <form action="{% url 'deletedata' student.id %}" method="POST" class="d-inline">  
        {% csrf_token %} 
    <td><button class="button" type="submit">Delete</button></td> 
                  
    </form> 
    </tr> 
    </tbody>
{% endfor %}
</table>
    

